.message {
  display: flex;
  align-items: center;
  justify-content: center;
  color:black ;
  font-family:"Brush Script MT", cursive; ;
  text-align: center;
  height: 30%;
  margin: 0;
  width: 100%;
  font-size: 42px;
}