.header-container {
  display: flex;
  flex-direction: row;
  margin: 2em;
  justify-content: space-around;
}

#header-logo {
  border-radius: 150px;
  height: 25vh;
  box-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 20px gold;
  transition: transform 0.3s ease; 
}
#header-logo:hover {
  transform: scale(1.1); /* Increase the scale on hover to zoom in */
}


/* slogan styling*/
@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.slogan {
  font-weight: 540;
  color: black;
  font-size: 3.5vw;
  font-family: cursive;
  text-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 20px gold;
  margin-top: .7em;
  animation: pulse 5s infinite;
}

@media (max-width: 1390px) {
  .header-container {
    flex-direction: column;
  }


  #header-logo {
    height: 15vh;
  }

  .slogan {
    font-size: 2.5vw;
    margin-left: 2em;
  }
}
