.product-info-container {
  box-sizing: border-box;
  display: flex;
  margin: 3em;
  padding: 1em;
  flex-direction: row;
  justify-content: space-evenly;
  background: radial-gradient(circle at center,gold, #994bec), 100%;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 20px gold;
  font-family: monospace;
  font-size: x-large;
}

.product-name {
  font-size: 2em;
}

.product-info-img{
  border-radius: 20px;
  height: 90vh;
  margin-right: 1.8em;
  box-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 20px gold;
  border: 1px solid black;
}

.product-info{
font-size: 1.3em;
padding-bottom: .5em;
font-weight: 550;
}