.product-card {
  box-sizing: border-box;
  height: 50em;
  width: 22em;
  display: flex;
  margin: 2em;
  padding: 1em;
  flex-direction: column;
  justify-content: space-evenly;
  background: radial-gradient(circle at center,gold, #994bec), 100%;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 20px gold;
  font-family: monospace;
}

.product-name {
  font-family: cursive;
  margin-top: 0;
  text-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 20px gold;
}

.not-available .error-message {
  color: red;
}

.product-price, .product-rating, .product-type, .not-available {
  padding-bottom: .5em;
  font-size: x-large;
}

.card-img {
  border-radius: 20px;
  height: 17em;
}