.product-card {
  box-sizing: border-box;
  width: 200px;
  display: flex;
  margin: 10px;
  padding: 10px;
  flex-direction: column;
  justify-content: space-evenly;
  background: radial-gradient(circle at center,gold, #994bec), 100%;
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 20px gold;
}